---
version: "3.8"
services:

  lb:
    container_name: callico-lb
    image: traefik:2.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
    ports:
      # Only the load balancer is exposed publicly
      - 80:80
      - 443:443

  # Callico web application
  callico:
    container_name: callico-app
    image: registry.gitlab.teklia.com/callico/callico:0.6.0
    env_file:
      - callico.env
    restart: unless-stopped
    depends_on:
      - lb
      - postgres

    labels:
      traefik.enable: true
      traefik.http.routers.callico.rule: Host(`callico.company.com`)
      traefik.http.routers.callico.tls: true

  # Asynchronous worker
  worker:
    container_name: callico-worker
    image: registry.gitlab.teklia.com/callico/callico:0.6.0
    command: "celery -A callico.base worker -B -l INFO"
    env_file:
      - callico.env
    depends_on:
      - redis

  postgres:
    container_name: callico-database
    image: postgres:15-alpine
    environment:
      # This will create a default user and database
      # Please update these settings on your own deployment!
      POSTGRES_USER: callico
      POSTGRES_PASSWORD: changeme
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: callico
    volumes:
      - database:/var/lib/postgresql/data

  redis:
    container_name: callico-redis
    image: redis:alpine

  minio:
    container_name: callico-minio
    image: minio/minio:RELEASE.2022-12-12T19-27-27Z
    command: server /data --console-address ":9001"
    environment:
      # This will create a default user
      # Please update these settings on your own deployment!
      MINIO_ROOT_USER: callico-app
      MINIO_ROOT_PASSWORD: changeme
      MINIO_BROWSER_REDIRECT_URL: https://minio-console.company.com
    restart: unless-stopped
    volumes:
      - minio:/data
    expose:
      - 9000
      - 9001
    labels:
      traefik.enable: true
      traefik.http.routers.minio.rule: Host(`minio.callico.company.com`)
      traefik.http.routers.minio.tls: true
      traefik.http.routers.minio.service:  minio-service
      traefik.http.services.minio-service.loadbalancer.server.port: 9000
      traefik.http.routers.minio-console.rule: Host(`minio-console.callico.company.com`)
      traefik.http.routers.minio-console.tls: true
      traefik.http.routers.minio-console.service:  minio-console-service
      traefik.http.services.minio-console-service.loadbalancer.server.port: 9001
    depends_on:
      - lb

volumes:
  database:
    driver: local
  minio:
    driver: local
