{% extends "base.html" %}
{% load i18n basefilters bulma_tags %}

{% block title %}
  {% translate "Project creation" %}
{% endblock title %}

{% block content %}
  <a href="{% url 'projects' %}" class="button is-pulled-right">{% translate "Go back" %}</a>
  <h1 class="title">{% translate "Create a new project" %}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form | bulma }}

    <button class="button is-success" type="submit">{% translate "Create" %}</button>
  </form>
{% endblock %}

{% block script %}
  {% translate "Choose a file..." as CTA_label %}
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      callico.bootBulmaFileFields({{ CTA_label|jsonify }})
    })
  </script>
{% endblock script %}
