{% load i18n %}

<tr class="group-row has-background-white-ter" group="" group-idx="-1">
  <td rowspan="{{ current_group.fields|length|add:1 }}">
    <span class="icon is-grabbable-root">
      <i class="fas fa-grip-vertical"></i>
    </span>
  </td>
  <td>
    <strong>{% translate "Group" %}</strong>
  </td>
  <td class="group-legend" group-legend="{{ current_group.legend }}">
    <a href="{% url 'entity-form-object-update' pk=campaign.id position=forloop.counter0 %}{% querystring mode='group' group='-1' %}">
      {{ current_group.legend }}
    </a>
  </td>
  <td></td>
  <td></td>
  <td>
    <div class="is-flex">
      <a href="{% url 'entity-form-object-update' pk=campaign.id position=forloop.counter0 %}{% querystring mode='group' group='-1' %}"
         class="button is-small is-info is-outlined" title="{% translate 'Edit' %}">
        <span class="icon">
          <i class="fas fa-pen"></i>
        </span>
      </a>
      <a href="{% url 'entity-form-object-delete' pk=campaign.id position=forloop.counter0 %}{% querystring mode='group' group='-1' %}"
         class="button is-small is-danger is-outlined ml-2" title="{% translate 'Delete' %}">
        <span class="icon">
          <i class="fas fa-trash"></i>
        </span>
      </a>
    </div>
  </td>
</tr>
