{# fmt:off #}{% autoescape off %}{% load i18n %}
{% translate "Dear new Callico user," %}

{% translate "A user account has been created with your email address on Callico, TEKLIA's innovative collaborative platform." %}
{% translate "Designed for simplicity and ease of use, Callico empowers you to annotate document images, allowing the creation of training data for AI models." %}

{% translate "To activate your Callico account and complete your registration, please enter your email address at the link below:" %}
{{ reset_password_url }}

{% blocktranslate with instance_url=instance_url %}You will then receive an email with a link to create your own password. After that, you will be able to log in with this email and this password on {{ instance_url }}.{% endblocktranslate %}

{% translate "As Callico is currently in development, you are one of our earliest users. We greatly appreciate your feedback, so feel free to reach out to us at callico@teklia.com to report any issues or share ideas for improvement." %}

{% translate "Thank you for your support," %}

--
{% translate "The Callico team" %}{% endautoescape %}{# fmt:on #}
