<div class="column is-half is-one-quarter-widescreen">
  <div class="card p-1">
    <div class="card-image has-text-centered">
      {% if task.element.image_id %}
        <figure class="image">
          <img class="restrict-small-thumbnail-height" src="{{ task.element.small_thumbnail }}">
        </figure>
      {% else %}
        <span class="icon is-size-1 has-text-grey mt-5">
          {% with icon=task.element.type.folder|yesno:"folder,image" %}
            <i class="fas fa-{{ icon }}"></i>
          {% endwith %}
        </span>
        <div class="has-text-grey truncate-long-words mr-5 ml-5" title="{{ task.element.name }}">{{ task.element.name }}</div>
      {% endif %}
    </div>
    <div class="card-content p-3">
      <div class="content">
        {% block information %}{% endblock information %}

        <p class="has-text-centered">
          {% block button %}{% endblock button %}
        </p>
      </div>
    </div>
  </div>
</div>
